.customCharts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    justify-items: center;
    align-items: start;
    padding: 20px;
  }
  
  .customCharts h2 {
    grid-column: 1 / -1; /* This makes the heading span all columns */
  }
  
  .chart-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    gap: 20px;
  }
  
  .bar-chart, .pie-chart {
    flex: 1;
    /* You can define the background color and dimensions in the specific chart class if preferred */
    min-height: 50vh; /* adjust as needed */
  }
  
  /* If you want to make it responsive for smaller screens */
  @media (max-width: 768px) {
    .chart-container {
      flex-direction: column;
      align-items: center;
    }
  
    .bar-chart, .pie-chart {
      width: 80vw; /* adjust as needed for smaller screens */
      min-height: 50vh; /* adjust as needed for smaller screens */
    }
  }
  