/* Basic styling for the form container */
.form-container {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    justify-content:space-around;
  }
  
  /* Style for form headings */
  .form-container h2,
  .form-container h3 {
    margin-bottom: 10px;
    color: #333;
    font-size: 1.5rem;
  }
  
  /* Style for input elements */
  .form-container input,
  .form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  /* Style for submit button */
  /* .form-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  } */
  
  /* Style for select dropdown arrow */
  .form-container select {
    padding-right: 30px; /* Adjust based on arrow icon size */
  }
  
  /* Style for select dropdown options */
  .form-container select option {
    background-color: #fff;
    color: #333;
  }

  .datePicker {
    display: flex;
    align-items: center;
  }