.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr); 
  }

.pageHeader.exerciseCreation {
    grid-column: 3 / span 2;
    text-align: center; 
    padding: 10px; 
  }

  .subHeader.exerciseCreation {
    grid-column: 3 / span 2;
    grid-row: 2;
    text-align: center;
    padding: 10px; 
  }

.search {
    grid-column: 2 / span 4;
    grid-row: 3 / span 3;
    display: flex;
    justify-content: center;

}

@media only screen and (max-width: 600px) {
    .search {
      grid-column: 1 / span4;
    }
    .subHeader.exerciseCreation {
      display: flex;
      justify-self: center;
      font-size: 2.5rem;
    }
.pageHeader.exerciseCreation {
  display: flex;
  font-size: 3rem;
}
}

.setsRepsWeightRender {
    grid-column: 2 / span 4;
    grid-row: 4 / span 3;
    justify-self: center;
    padding-top: 25px;
    gap: 20px;
}

@media only screen and (max-width: 600px) {
.setsRepsWeightContainer {
  width: 80vw;
  display: flex;
}
.setsRepsWeightComponent {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

}

.setsRepsWeightComponent {
display: flex;
}

.addExerciseButton {
    grid-column: 3 / span 2;
    grid-row: 6 / span 2;
}

.exerciseFilters {

}

.searchBar {
  display: flex;
  justify-content: center;
padding-top: 25px;
}

// @media only screen and (max-width: 600px) {
//   .searchBar {
// width: 100vw;
// background-color: aqua;
//   }
//   .css-b62m3t-container {
//     width: 100vw;
//   }

// }


