.hamburgerMenu {
    background-color: rgba(11, 12, 16, 0.3);
    width: 25vw;
    border-radius: 10%;
    
}

.hamburgerMenu h2 {
    color: #66fcf1;
  font-family: "League Gothic", sans-serif;
}

.navbar {
    grid-column: 3;
    display: flex;
    justify-content: end;
    align-items: start;
    margin-right: 1rem;
}