.hamburgerMenu {
    position: absolute;
    top: 2%;
    right: 5%;
    background-color: rgba(11, 12, 16, 0.7);
    width: 12vw;
    border-radius: 10%;
    z-index: 10;
}

.colored-hamburger {
    filter: invert(1) sepia(1) saturate(10) hue-rotate(190deg);
  }
  

.hamburgerMenu h2 {
    color: #66fcf1;
  /* font-family: "League Gothic", sans-serif; */
  font-size: 1.75rem ;

}

.navigationBar {
    display: flex;
    justify-content: space-between;
  }

/* .navbar {
    grid-column: 3;
    display: flex;
    justify-content: end;
    align-items: start;
    margin-right: 1rem;
} */