.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr); 
  }

  .pageHeader.profile {
    grid-column: 3 / span 2;
    text-align: center; 
    padding: 10px; 
  }

  .formContainer.profile {
    grid-column: 3/ span 2;
    grid-row: 3/ span 3;
    justify-self: center;
  }

  .editDetailsCondRenderButton {
    grid-column: 3 / span 2;
    grid-row: 2;
    align-self: self-start;
    justify-self: center;
  }

  .userDetails {
    grid-column: 3 / span 2;
    grid-row: 3/ span 3;
    display: flex;
    justify-content: space-around;
  }

  .logOut {
    grid-column: 3 / span 2;
    grid-row: 6;
  }