.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr); 
  /* gap: 10px;  */
}

.pageHeader.routines {
  grid-column: 3 / span 2;
  text-align: center; 
  padding: 10px; 
}

.hidden {
    display: none;
  }

.backButton {
    height: 40px;
    width: auto;
    padding-top: 3px;
    padding-left: 3px;
}

.routineViewOptions {
    grid-row: 2;
    grid-column: 3 /span 2;
   
}
.createNewRoutineOptionChosen {
    grid-row: 3/ span 2;
    grid-column: 3 /span 2;
}

.routineQuestion {
    grid-row: 2;
    grid-column: 3 /span 2;
}

.routineCustomButton {
    grid-row: 3;
    grid-column: 3;
    height: 40px;
    align-self: center;
}

.routineWeeklyButton {
    grid-row: 3;
    grid-column: 4;
    height: 40px;
    align-self: center;
}

.createRoutineToggleButton {
    grid-row: 3;
    grid-column: 3 /span 2;

}

.createRoutine {
    grid-row: 3 / span 3;
    grid-column: 3 /span 2;
    display: flex;
    justify-content: center;

}

.fetchAllRoutines {
    grid-row: 3/ span 4;
    grid-column:3 /span 2;
}

.editRoutine {
    padding-top: 50px;
}

.formContainer {
    width: 20vw;
}

.mdb-input .form-control {
    /* background-color: rgba(11, 12, 16, 0.3); */
    color: white;
}

.container h3 {
    color: aqua;
}

.editIcon {
    height: 40px;
    width: auto;
}

.inputFormEditRoutine {
    display: flex;
    justify-content: center;
}