.createRoutine {
    display: flex;
    justify-content: center;
}

.formContainer {
    width: 20vw;
}

.mdb-input .form-control {
    /* background-color: rgba(11, 12, 16, 0.3); */
    color: white;
}

.container h3 {
    color: aqua;
}

.editIcon {
    height: 40px;
    width: auto;
}

.inputFormEditRoutine {
    display: flex;
    justify-content: center;
}