.inputForm {
    width: 20vw;
}

.inputFormEditWorkout {
    display: flex;
    justify-content: center;
}

.createWorkout {
    display: flex;
    justify-content: center;
}

.deleteIcon {
    height: 40px;
    width: auto;
}

.deleteIcon:hover {
    filter: invert(10%) sepia(100%) saturate(400%) hue-rotate(169deg);
}
