.inputForm {
    width: 20vw;
}

.inputFormEditWorkout {
    display: flex;
    justify-content: center;
}

.createWorkout {
    display: flex;
    justify-content: center;
    background-color:#001F3F;
    border-radius: 25px;
    height: 100vh;
    color: #66fcf1;
}

.deleteIcon {
    height: 40px;
    width: auto;
}

.deleteIcon:hover {
    filter: invert(10%) sepia(100%) saturate(400%) hue-rotate(169deg);
}

/* Custom contrast class */
.contrast-dropdown {
    background-color: #001f3f; 
    color: #FFF; 
    border: 1px solid #FFF; 
  }

  /* Custom CSS to style the selected option */
.select-selected-option {
    background-color: #001f3f; 
    color: #FFF; 
  }





  
  
  