.inputForm {
    width: 20vw;
}

.createWorkout {
    display: flex;
    justify-content: center;
}

.deleteIcon {
    height: 40px;
    width: auto;
}

.deleteIcon:hover {
    background-color: aqua;
}