.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr); 
    /* gap: 10px;  */
    height: 100vh;
    overflow-y: auto;
  }

  .displayWorkoutData {
    grid-row: 3/ span 4;
    grid-column: 2/span 4;
    display: flex;
    flex-direction: column;
  }

  .workoutName {
    grid-row: 1;
    grid-column: 3/span 2;
  }

  .stopWatch {
    grid-row: 1;
    grid-column: 3/span 2;
    display: flex;
    align-self: self-end;
    justify-content: center;
  }

  .restTimer {
    grid-row: 2;
    grid-column: 3/span 2;
    align-self: self-start;
    justify-self: center;
  }

  .setTimer {
    grid-row: 2;
    grid-column: 3/span 2;
    align-self: self-start;
    justify-self: center;
  }
  .exerciseOrder {
    /* border: #66fcf1 1px solid; */
    /* border-radius: 15%; */
    /* margin-right: 2vw; */
    /* height: 30%; */
  }

  .exerciseSessionContainer {
    grid-row: 3 / span 7;
    grid-column: 2 / span 3;
    /* height: 30vh; */
    display: flex;
    /* flex-direction: column; */
    /* background-color: yellowgreen; */
  }

  .individualExerciseInfo {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    /* background-color: #66fcf1; */
  }
  
  .exerciseSessionContainer div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    /* background-color: yellow; */
  } 

  .exerciseDetails {
    /* display: flex; */
    /* background-color: blueviolet; */
    /* flex-direction: column; */
    /* align-items: center; */
  }



  .rhombus {
    height: 50px;
    width: auto;
  }
  
  .rhombusButtons {

  }

  .exerciseSessionBorder {
    border: #66fcf1 1px solid;
    border-radius: 2%;
   /* background-color: yellowgreen; */
  }
  
  .exerciseSessionBorderExpanded {
    border: #66fcf1 1px solid;
    border-radius: 2%;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
  }

  .metricForm  {
    /* background-color: yellowgreen; */
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
margin-bottom: 0px;
  }

  .inline-inputs {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
  }
  

.metricFormInput {
/* color: #66fcf1; */

}
