/* .App {
  text-align: center;
  color: white;
  height: 110vh;
}

.App-inner {
  background-color:#001F3F;
  height: 500vh;
  color: #66fcf1;
}

.pageHeader {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  text-decoration: underline;
}


.subHeader {
  font-family: "League Gothic", sans-serif;
  font-size: 2.5rem;
}

p, h3, h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}

h3 {
  font-family: "Bebas Neue", sans-serif;
}

.scrollableDiv {
  height: 75vh;
  width: 100vw;
  overflow-y: auto;
} 

.fullScrollableDiv {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
} 

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 90vw;
}

.utilityButton {
  background-color: transparent;
  border: none;
}


.hidden {
  display: none;
}

.password {
  margin-bottom: 0;
  padding-bottom: 0;
}

.passWordAuthMessage {
  margin: 0;
  padding: 0;
  color: red;
  font-size: 1em;
  padding-bottom: 1em;
}

.red {
  background-color: red;
}



.button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none; 
}


 */

 .App {
  text-align: center;
  color: white;
  height: 110vh;
}

@media (max-width: 600px) {
  .App {
    height: 100vh;
  }
}

.App-inner {
  /* background-color:#001F3F; */
  background: radial-gradient(circle at center, #00539b, #001F3F);

  height: 200vh;
  color: #66fcf1;
}

@media (max-width: 600px) {
  .App-inner {
    height: 100vh;
  }
}

.pageHeader {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .pageHeader {
    font-size: 2rem;
  }
}

.subHeader {
  font-family: "League Gothic", sans-serif;
  font-size: 2.5rem;
}

@media (max-width: 600px) {
  .subHeader {
    font-size: 1.5rem;
  }
}

p, h3, h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  p, h3, h2 {
    font-size: 1rem;
  }
}

.scrollableDiv {
  height: 75vh;
  width: 100vw;
  overflow-y: auto;
} 

@media (max-width: 600px) {
  .scrollableDiv {
    height: 100vh;
  }
}

.fullScrollableDiv {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
} 

@media (max-width: 600px) {
  .fullScrollableDiv {
    height: 100vh;
  }
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 100vw;
  padding-top: 10vh;
}

@media (max-width: 600px) {
  .calendar {
  }
}

.utilityButton {
  background-color: transparent;
  border: none;
}

.hidden {
  display: none;
}

.password {
  margin-bottom: 0;
  padding-bottom: 0;
}

.passWordAuthMessage {
  margin: 0;
  padding: 0;
  color: red;
  font-size: 1em;
  padding-bottom: 1em;
}

.red {
  background-color: red;
}


.backButtonDiv {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
}
.backButton {
  height: 40px;
  width: auto;

}
.button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none; 
}

.introjs-helperLayer {
  z-index: 1 !important;
}

.introjs-nextbutton {
  display: none !important;
}
.hide-button {
  display: none !important;
}
.show-button {
  display:block !important;
}