.App {
  text-align: center;
  background-color:#0B0C10;
  color: white;
  padding: 10px
}

.App-inner {
  background-color:#001F3F;
  border-radius: 25px;
  height: 100vh;
  color: #66fcf1;
}

.pageHeader {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  text-decoration: underline;
}

.subHeader {
  font-family: "League Gothic", sans-serif;
  font-size: 2.5rem;
}

p {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}


/* .scrollableDiv {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
} */

